
<h3>

<%= @review.user.full_name %> has reviewed your product <%= @product.title %>

</h3>

<h4> <%= @review.user.full_name %> gave it a rating of <%= @review.rating %> </h4>
<p>
with the following write up:
  <%= @review.body %> </p>

<br/>


  <%= link_to("Click here to view your product", product_url(@product)) %>