

<%= form_with(model: [@product, @review], local: true) do |f| %>
    <% if @review.errors.any? %>
        <ul>
            <% @review.errors.full_messages.each do |msg| %>
                    <li>
                    <%= msg %>
                    </li>
            <% end %>
        </ul>
    <% end  %>
    
      <div class= "flex-form review-underline">

<div>
    <p class="review-label"> Comment </p>
    <%= f.text_area( :body, cols:50, rows:5, placeholder: "Enter a review here") %>
      </div>
      <div >
        
        <%= f.label :rating, class:"review-label" %>
        <%= f.number_field :rating, step: 1    %>
      </div>
      
      <div class="review" >
        <%= f.submit "Submit Review", class:'review-btn' %>
      </div>
</div>
    <% end %>