

<div class="title underline"> 
 Product Page
</div>

<div class="show-product flex-column">
<div class ="flex underline">
<h4>
<%= @product.title %>

</h4>
<p>
<%=number_to_currency( @product.price) %>
 </p>
</div>

<p class="show-body">
<%= @product.description %>

</p>
<div class="flex">
<%= @product.user&.full_name%>
<% if can? :crud, @product %>

 <%=  link_to "Edit", edit_product_path(@product), class:"show-btn edit-btn"%>

<%= link_to "Delete", product_path(@product), class:"delete-btn show-btn", method: :delete, data: {confirm: "Are you Sure?"}  %>
<% end %>
</div>
</div>

    <div>

        <%= render 'products/review' %>

    </div>

<div>

    <div class="review-list">
     <% @reviews.each do |review| %>
     <div class="review-underline">
         <div class="review-label-list">
    
             <div class="flex-1"> <%= review.body %> </div>
             <div> <%= review.rating %> </div>
        </div>
      <div class="review-label-list">
      <div class="small-font flex-1" >
           <%= review.user&.full_name %> 
        </div>
      <div class="small-font flex-1" >
            <%=  time_ago_in_words(review.created_at) %> 
        </div>
        <div>
            <%= pluralize(review.likers.count, 'like') %>
        </div>
     
<div>

  <% if user_signed_in?  %>     

    <% like = current_user.likes.find_by_review_id(review.id) %>
    
    <% if like.present? && can?(:destroy, like) %>


        <%= link_to "Unlike", like_path(like), method: :delete %>

    <% elsif can?(:like, review) %>

        <%= link_to 'Like', product_review_likes_path(@product, review), method: :post %>
   
    <% end %>
<% end %>

</div>

    <% if can? :crud, review %>
    <div>
         <%= link_to("Delete review", product_review_path(@product, review), method: :delete, class:"review-delete-btn", data: {
             confirm: "Are you sure?"
         })  %>
         </div>
         <% end %>
        </div>
    </div>
    <% end %>
 </div>

</div>