<div class="title underline"> 
 Product Page
</div>

<div class="show-product flex-column">
<div class ="flex underline">
<h4>
<%= @product.title %>

</h4>
<p>
<%=number_to_currency( @product.price) %>
 </p>
</div>

<p class="show-body">
<%= @product.description %>
</p>
<div class="flex">

 <%=  link_to "Edit", edit_product_path(@product), class:"show-btn edit-btn"%>

<%= link_to "Delete", product_path(@product), class:"delete-btn show-btn", method: :delete, data: {confirm: "Are you Sure?"}  %>

</div>
</div>

    <div>

        <%= render 'products/review' %>

    </div>

<div>

    <div class="review-list">
     <% @reviews.each do |review| %>
     <div class="review-underline">
         <div class="review-label-list">
    
             <div class="flex-1"> <%= review.body %> </div>
             <div> <%= review.rating %> </div>
        </div>
      <div class="review-label-list">
      <div class="small-font flex-1" >
            <%=  time_ago_in_words(review.created_at) %> 
        </div>

         <%= link_to("Delete review", product_review_path(@product, review),class:"review-delete-btn", method: :delete, data: {
             confirm: "Are you sure?"
         })  %>
        </div>
    </div>
    <% end %>
 </div>

</div>