<div class="title underline"> 
 Product Page
</div>

<div class="show-product flex-column">
<div class ="flex underline">
<h4>
<%= @product.title %>

</h4>
<p>
<%=number_to_currency( @product.price) %>
 </p>
</div>

<p class="show-body">
<%= @product.description %>
</p>
<div class="flex">

 <%=  link_to "Edit", edit_product_path(@product), class:"show-btn edit-btn"%>

<%= link_to "Delete", product_path(@product), class:"delete-btn show-btn", method: :delete, data: {confirm: "Are you Sure?"}  %>


</div>
</div>

<div>
<%= form_with(model: [@product, @review], local: true) do |f| %>
    <% if @review.errors.any? %>
        <ul>
            <% @review.errors.full_messages.each do |msg| %>
                    <li>
                    <%= msg %>
                    </li>
            <% end %>
        </ul>
    <% end  %>


    <%= f.text_area( :body, cols:50, rows:5, placeholder: "Enter a review here") %>
        <%= f.label :rating %>
        <%= f.number_field :rating, step: 1    %>
        <%= f.submit "Submit Review"%>
    <% end %>

</div>



<div>

    <% @reviews.each do |review| %>
        <%= review.body %>
         <%= review.rating %>
         <%= link_to("Delete review", product_review_path(@product, review), method: :delete, data: {
             confirm: "Are you sure?"
         }) %>
        <br>
    <% end  %>

</div>